@font-face { font-family: apercue; src: url('apercu-bold-webfont.ttf'); } 

html * {
    font-family: apercue;
}


h1 {
    Color: black;
    
    margin-left: 20px;
}
ul {
    list-style-type: circle;  
   
}
a:hover {
    color: darkgoldenrod
}
a:link {
    text-decoration: none
}
h2 {
    margin-left: 20px;

}

.mainimage {
    margin-left: 20px;
}
