@font-face { font-family: Apercu; src: url('apercu-bold-webfont.tff'); } 

html * {
    font-family: Apercu, sans-serif;
}
h1 {
    Color: black;
    margin-left: 20px;
}
ul {
    list-style-type: none;  
   
}
li {
    padding-left: 1em;
    text-indent: -1em;
}
li:before { 
    content: "☾";
    padding-right: 5px;
    
}

a:hover {
    color: darkgoldenrod
}
a:link {
    text-decoration: none
}
h2 {
    margin-left: 20px;
}

.mainimage {
    margin-left: 20px;
}
