@font-face { font-family: apercue; src: url('../apercu-bold-webfont.ttf'); } 


h1 {
    font-family: apercue;
}

h5 {
    font-family: apercue;
}

ul.topnav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.header {
    padding-top: 40px;

}

.subheader {
    font-family: apercue;
    margin: 20px;

}

ul.blognav {
    list-style-type: none;
    
}

ul.topnav li {float:left;}

ul.topnav li a {
    display:block;
    color:black;
    text-align: center;
    padding: 0px 16px;
    text-decoration:none; 
    font-family: apercue;
    
}

ul.topnav li a:hover:not(.active) 
{background-color: rgb(221, 231, 243);}


ul.topnav li.right {
    float:right;
    padding-top: 14px;

}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float:none}
}

.birds {
    box-sizing:border-box;
    padding-top: 10px;
}

.main {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 25px;

}

.blogtitle {
    Width: 500px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(187, 187, 187);
    margin: 20px;
    
}

a {
    text-decoration: none;
    font-family: apercue;
}

footer {
    text-align: right;
    float: right;
    font-size: 14px;
    padding-top: 100px;
    border-bottom: 1px solid rgb(228, 225, 225);
    
}

.contact {
    align-items: flex-start;
}

.side {
    margin-left:0px;
}

.header {
    max-width: 100%;
    max-height: 100%;
}

.blogtype {
    padding-top: 10px;
    font-family: apercue;
    color: rgb(2, 2, 68);
}

.answer {
    font-family: apercue;
    margin: 20px;

}

.blogpost {
    border-left: 1px solid rgb(207, 207, 207);
    border-right: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(216, 216, 216);
}

.blogposttech {
    border-left: 1px solid rgb(207, 207, 207);
    border-right: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(216, 216, 216);
    border-top: 1px solid rgb(216, 216, 216);
}

.ph {
    font-family: apercue;
    margin-bottom: 5px;
}

